<div class="cover-page">
  <img src="theme/background.png" alt="Background" class="no-shadow">
  <div class="logo">
    <div>
      <img src="theme/fabric-white.svg" alt="Logo" class="no-shadow">
    </div>
  </div>
  <section>
    <h1>Lab Guide</h1>
    <h2>This Heading Describes the Content</h2>
  </section>
</div>

<!-- Blank Page for Isolation -->
<div style="page-break-after: always;"></div>